
## AWS Variables
key_name  = "REPLACE_ME"
subnet_id = "REPLACE_ME"
vpc_id    = "REPLACE_ME"

## Snowflake Variables
snowflake_account_name      = "REPLACE_ME"
snowflake_organization_name = "REPLACE_ME"
wif_test_database           = "REPLACE_ME"
wif_test_schema             = "REPLACE_ME"
wif_test_warehouse          = "REPLACE_ME"
